
/* Google Font Here */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

/*  Start Universal Style Here */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #FF5400;
  --h-font-size: 2.5rem;
  --h-font-color: #131318;
  --p-font-size: 1rem;
  --p-font-color:rgba(19, 19, 24, 0.70);
}

body{
  font-family: 'Mulish', sans-serif;
  font-size: var(--p-font-size);
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Mulish', sans-serif;
}
p{
  font-family: 'Mulish', sans-serif;
  font-size: var(--p-font-size);
}
.btn a{
  background-color: var(--primary-color);
  padding: 14px 35px;
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
}


/* Start Header Section Style Here */

#header{

}

.container{
  max-width: 1170px;
  width: 81%;
  margin: 0 auto;
}
.navber{
  display: flex;
  margin: 30px 0 40px 0;
}

.logo{
  width: 25%;
  display: flex;
  align-items: center;
}

.logo img{
  width: 20%;
  margin-right: 16px;
}
.logo h2{
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.logo span{
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 800;
}
.nav{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 44px;
}
.nav ul li > a{
  text-decoration: none;
  color: var(--p-font-color);
  font-size: 1.125rem;
  font-weight: 400;
  transition: all .3s ease;
}
.nav ul li:hover>a{
  color: var(--primary-color);
}
.nav .active{
  color: var(--primary-color);
}

/* Start Banner Section Style Here */

.banner-area{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 16px;
    height: 500px;
    
 }
 .banner-text {
    padding: 100px 200px 50px 200px;

 }
 .banner-text h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 15px;
 }
 .banner-text p{
    color: #FFF;
    font-size: var(--p-font-size);
    font-weight: 400;
    line-height: 26px;
 }

 .info{
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
 }

 .info-search{
    position: relative;
    width: 170px;
 }
.info-search input{
    padding: 15px 10px 15px 15px;
    border-radius: 8px;
    border: none;
    font-size: var(--p-font-size);
    color: rgba(19, 19, 24, 0.50);
    font-weight: 400;
    outline: none;
    width: 100%;
   
 }
 .info-search i{
    position: absolute;
    top: 18px;
    right: 14px;
    z-index: 99;
    font-size: 18px;
    color: var(--p-font-color);
 }
 .search-bar{
    background: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }
 .search-bar i{
    font-size: 18px;
 }
 .search-bar input{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    padding: 15px 10px 15px 15px;
    top: 110%;
    left: -50%;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: none;
    width: 200px;
    transition: .5s ease;
 }
 .search-bar:hover input{
    visibility: visible;
    opacity: 1;
 }
 .search-bar span{
    font-size: var(--p-font-size);
    font-weight: 700;
 }